--swiftversion 6.1
--indent 4
--indentcase false
--trimwhitespace always
--maxwidth 120
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--enable isEmpty
--enable sortImports
--enable blankLinesAtEndOfScope
--enable blankLinesAtStartOfScope
--enable consecutiveSpaces
--enable duplicateImports
--enable redundantParens
--enable redundantReturn
--enable redundantSelf
--enable redundantNilInit
--enable redundantVoidReturnType
--enable trailingClosures
--enable trailingCommas
--enable unusedArguments
--enable void
--disable andOperator
--disable wrapMultilineStatementBraces
--header strip
